<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tweets Sentiment Map</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/index.css">

		<script type="text/javascript" src="lib/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNc0dmlvo53X4djeek5mOLB3Q0ETqCg7w">
		</script>
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular-animate.min.js"></script>
		<script type="text/javascript" src="lib/socket.io.js"></script>
		<script type="text/javascript" src="controller/app.js"></script>
	</head>
	<body ng-app="app">
		<div class="container">
			<div class="row" id="title">
				<div class="col-md-12 text-center text-muted">
					<h1>Real-time Tweets Sentiment Map</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
			</div>
			<div class="row" ng-controller="MapController">
				<div class="col-md-2 text-muted text-center" id="marker-note-group">
					<div class="row marker-note">
						<img src="res/img/marker-green.png">
						<h5>Tweet of Positive Sentiment</h5>
					</div>
					<div class="row marker-note">
						<img src="res/img/marker-yellow.png">
						<h5>Tweet of Neutral Sentiment</h5>
					</div>
					<div class="row marker-note">
						<img src="res/img/marker-red.png">
						<h5>Tweet of Negative Sentiment</h5>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12 text-left pull-left pull-right">
							<div class="input-group"> 
								<input class="form-control" type="text" placeholder="keyword" ng-model="keyword"/>
								<span class="input-group-btn">
									<button class="btn btn-info btn-outline" type="submit" ng-click="RestartBtnClick()">Restart</button>
									<button class="btn btn-info btn-outline" type="submit" ng-click="StopBtnClick()">{{stopBtnValue}}</button>
								</span>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12 text-muted" id="hint">
							<h5>
								<em>Hint: Click little markers to get tweet details.</em>
							</h5>
						</div>
					</div>
					<div class="row text-center" id="map-container">
						<div id="map-canvas"></div>
					</div>
				</div>
				<div class="col-md-2 text-left side-area">
					<div class="row">
						<h4>Twitter Trends</h4>
					</div>
					<div class="row animate" ng-repeat="trend in trends">
						<a href="{{trend.url}}" target="_blank">{{trend.name}}</a>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
	      	<div class="container text-muted text-center">
	        	<h5>Copyright 2015 © Weiliang Wang</h5>
	        	<h5>wangweiliang61@gmail.com</h5>
				<a href="https://github.com/williamwang61/Real-Time-Tweets-Sentiment-Map" target="_blank">github.com/williamwang61/Real-Time-Tweets-Sentiment-Map</a>
	      	</div>
	    </footer>
	</body>
</html>