<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tweets Sentiment Map</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/index.css">

		<script type="text/javascript" src="lib/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNc0dmlvo53X4djeek5mOLB3Q0ETqCg7w">
		</script>
		<script type="text/javascript" src="lib/angular-1.4.7.min.js"></script>
		<script type="text/javascript" src="lib/angular-animate-1.4.7.min.js"></script>
		<script type="text/javascript" src="lib/socket.io.js"></script>
		<script type="text/javascript" src="controller/app.js"></script>
	</head>
	<body ng-app="app">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center text-muted">
					<h1>Real-time Tweets Sentiment Map</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>
			</div>
			<div class="row" ng-controller="MapController">
				<div class="col-md-2 text-center">
					<div class="row">
						<div class="col-xs-12">
							<img src="res/img/marker-green.png">
							<h5>Positive Sentiment</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<img src="res/img/marker-yellow.png">
							<h5>Neutral Sentiment</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<img src="res/img/marker-red.png">
							<h5>Negative Sentiment</h5>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-4 text-left input-group"> 
							<input class="form-control" type="text" placeholder="keyword" ng-model="keyword"/>
							<span class="input-group-btn">
								<button class="btn" type="submit" ng-click="FilterBtnClick()">Restart
								</button>
							</span>
						</div>
					</div>
					<div class="row text-center" id="map-container">
						<div id="map-canvas"></div>
					</div>
					<div class="row text-muted" id="note">
						<h4><em>Note: try clicking the cute little dots to check the tweet info :)</em></h4>
					</div>
				</div>
				<div class="col-md-2">
					<h4>Twitter Trends</h4>
					<div class="row">
						<div class="col-xs-12 animate" ng-repeat="trend in trends">
							<a href="{{trend.url}}" target="_blank">{{trend.name}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
	      	<div class="container text-muted text-center">
	        	<h5>Copyright 2015 © Weiliang Wang</h5>
	        	<h5>wangweiliang61@gmail.com</h5>
				<a href="https://github.com/williamwang61/Tweets_On_Google_Map" target="_blank">github.com/williamwang61/Tweets_On_Google_Map</a>
	      	</div>
	    </footer>
	</body>
</html>