html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 90px;
	background-color: #f5f5f5;
}
.container { 
	width: auto;
	max-width: 1400px; 
}

.marker-note{
	margin-bottom: 20px
}

.pull-left{
	padding-left: 0;
}

.pull-down{
	padding-top: 200px;
}

.btn{
	width: 80px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: .3s;
}

div#map-container{
	margin-top: 5px;
}
div#map-canvas{
	display: block;
	min-height: 600px;
	height: auto;
}

.tweet-info-window{
 	background-color: #f5f5f5;
    width: 99%;
}

.animate.ng-enter, 
.animate.ng-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
    -webkit-transform: rotateX(90deg) rotateZ(90deg);
    -moz-transform: rotateX(90deg) rotateZ(90deg);
    -ms-transform: rotateX(90deg) rotateZ(90deg);
    -o-transform: rotateX(90deg) rotateZ(90deg);
    transform: rotateX(90deg) rotateZ(90deg);
    opacity: 0;
    height: 0px;
}        

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateZ(0deg);
    opacity: 1;
    height: 30px;
}
