.container { 
	width: auto;
	max-width: 1400px; 
}

div#map-container{
	padding-top: 5px;
}

div#map-canvas{
	min-height: 600px;
}

.tweet-info-window{
 	background-color: #f5f5f5;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 90px;
	background-color: #f5f5f5;
}
